body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100%;
    overflow: hidden;
}

.hero-container {
    background: linear-gradient(to bottom, #7653b6, #007bff, #17a2b8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
}

.auth-buttons button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-signup {
    background-color: #9d62d4b0;
    color: white;
}

.btn-login {
    background-color: #ffffffe3;
    color: #343a40;
    margin-left: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 6em;
    margin: 0;
    font-weight: 700;
}

main p {
    font-size: 1.2em;
    margin: 20px 0;
    max-width: 500px;
}

.cta-buttons button {
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin: 0 10px;
}

.btn-start {
    background-color: #f8f9fad8;
    color: #343a40;
}

.btn-explore {
    background-color: #343a407e;
    /* opacity: 0.8; */
    color: white;
}

/* .background-shapes {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
     z-index: 0; /*Changed from -1 to 0 */
/*}*/

/* #chart-img {
    right: 28%; 
    width: 80px;
    bottom: 35px;
} */

/* #font-img {
    left: 18%; 
    width: 80px;
    bottom: 5px; 
} */

/* #grad-cap-img {
    right: 15%;
    width: 100px;
    bottom: 10px;
} */

/*
#video-img {
    left: 28%; 
    width: 90px;
    bottom: 25px;
} */
